.card--user-manager {
  display: flex;
  flex-direction: column;
  .user-manager--title {
    display: flex;
    button {
      margin: auto;
    }
  }
  table {
    width: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}

